@model Tienda.Web.Models.Orden

<div class="row orderForm ">
    <h3 class="text-center">You are just one step away from ordering your drinks.</h3>
    <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label asp-for="Apellidos" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nombres" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion1" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Direccion1" class="form-control" />
                <span asp-validation-for="Direccion1" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion2" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Direccion2" class="form-control" />
                <span asp-validation-for="Direccion2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CodigoPostal" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Distrito" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Distrito" class="form-control" />
                <span asp-validation-for="Distrito" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Provincia" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-8">
                <input class="btn btn-success" type="submit" value="Complete order" />
                @*<input class="btn btn-default" type="submit" value="Return " />*@
            </div>
        </div>
    </form>
</div>